:javascript
  App.users = new App.Users(#{@users.to_json});
%h1 Listing users
%table#user-table
  %thead
    %tr
      %th Name
      %th Email
      %th{colspan: "3"}
  %tbody#fn-users-table

%br/

= link_to 'New User', new_user_path

%script#template-users(type='text/html')
  <% _.each(users, function(user) { %>
  <tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><a href="javascript:void(0)" data-user-id="<%= user.id %>" class="delete-btn">X</a></td>
  </tr>
  <% }) %>
